* {
    font-family: "Inter", "Arial", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: #000;
}

.frame {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e5e5e5;

}

.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 2px;
    background-color: #F0F0F6;
}

/* Marginer */
.main_frame .left_frame-marginer {
    position: relative;
    width: 220px;
    height: 0;
    border: 1.5px solid #f0f0f6;
}


/* LEFT FRAME */

.left_frame-marginer {
    margin: 25px 0;
}

.main_frame .left_frame {
    padding: 47px 0 90px 0;
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/* left frame - 1 - Author */

.main_frame .left_frame-1 {
    position: relative;
    width: 228px;
    height: 267px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_frame .left_frame-1_title {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    color: #2b2b2b;
    margin: 27px 0 6px 0;
}

.main_frame .left_frame-1_desc {
    font-weight: 400;
    color: #767676;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 17px;
}

.main_frame .left_frame-1_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 53px;
}

.left_frame-1_icons .icon {
    width: 25px;
    height: 25px;
    position: relative;
    text-align: center;
    border-radius: 50%;
    background: #FFB400;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
}


/* left frame - 2 - About */

.main_frame .left_frame-2 {
    position: relative;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_frame .left_frame-2_title {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main_frame .left_frame-2_title h3 {
    margin: 0, 0, 9px, 0;
    padding: 3px;
    display: flex;
    align-items: start;
    font-size: 15px;
    font-weight: 400;
    color: rgb(43, 43, 43);
    background: rgb(255, 180, 0);
}
.main_frame .left_frame-2_title h3:last-child {
    margin-bottom: 0;
}

.main_frame .left_frame-2_desc {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.main_frame .left_frame-2_desc p {
    font-size: 15px;
    padding-bottom: 10px;
    color: rgb(43, 43, 43);
    text-transform: capitalize;
}
.main_frame .left_frame-2_desc p:last-child {
    padding-bottom: 0;
}

.main_frame .left_frame-2_desc p span {
    color: rgb(126, 185, 66);
}


/* Left Frame - 3 - Languages */

.main_frame .left_frame-3 {
    width: 220px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main_frame .left_frame-3 h2,
.main_frame .left_frame-5 h2 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(43, 43, 43);
    margin-bottom: 15px;
}

.main_frame .left_frame-3 .left_frame-3_lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: rgb(118, 118, 118);
    margin-bottom: 5px;
}

.main_frame .left_frame-3 img {
    margin-bottom: 9px;
}
.main_frame .left_frame-3 img:last-child {
    margin-bottom: 0;
}


/* Left Frame - 4 - Skills */
/* with left frame-3 same )) */


/* Left Frame - 5 - Extra Skills  */

.main_frame .left_frame-5 {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}


.main_frame .left_frame-5_skills {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: rgb(118, 118, 118);
    margin-bottom: 5px;
    position: relative;
}


.main_frame .left_frame-5_skills img {
    margin-right: 10px;
}



/* MIDDLE FRAME */

.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
}


/* Middle Frame - 1 */

.main_frame .midd_frame-1 {
    background-image: url("author/images/midd-background-image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 480px;
    position: relative;
}

.main_frame .midd_frame-1 {
    display: flex;
    align-items: center;
    position: relative;
}

.main_frame .midd_frame-1_intro {
    padding-left: 56px;
}

.midd_frame-1_intro .intro_title {
    width: 499.51px;
    font-weight: 700;
    font-size: 48px;
    color: rgb(43, 43, 43);
}

.midd_frame-1_intro .intro_desc {
    width: 425px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(118, 118, 118);
    padding: 17px 0 23px 0;
    text-transform: capitalize; 
}

.midd_frame-1_intro .intro_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #FFB400;
    width: 154px;
    height: 49px;
    border: none;
    border-radius: 5px;
    padding-top: 2px;
}

.midd_frame-1_intro .intro_btn-text {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(43, 43, 43);
    padding-right: 10px;
}


/* Middle Frame - 2 */

.main_frame .midd_frame-2 {
    color: rgb(43, 43, 43);
    text-align: center;
    text-transform: capitalize;
    position: relative;
    height: 653px;
    padding-top: 100px;
    position: relative;
}

.main_frame .midd_frame-2_title {
    font-size: 32px;
    font-weight: 700;
}

.main_frame .midd_frame-2_desc {
    padding: 26px 0 50px 0;
    font-size: 15px;
    font-weight: 400;
    color: rgb(118, 118, 118);
}

.main_frame .midd_frame-2_services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.midd_frame-2_services .service {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 310px;
    height: 225px;
    margin-bottom: 20px;
}

.midd_frame-2_services .service img {
    width: 68px;
    height: 68px;
    margin: 26px auto;
}

.midd_frame-2_services .service_title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.midd_frame-2_services .service_desc {
    font-size: 15px;
    font-weight: 400;
    color: rgb(118, 118, 118);
}

.midd_frame-2_services .service_title-2 {
    margin: 31px 0 22px 0;
    font-size: 18px;
    font-weight: 500;
}

.midd_frame-2_services .service_link {
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 180, 0);
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 12px;
    font-family: "Roboto", sans-serif;
}


/* RIGHT FRAME */

.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main_frame .right_frame-img_contrast {
    margin-top: 50px;
    margin-bottom: 174px;
}

.main_frame .right_frame-img_home {
    width: 65px;
    height: 78px;
    margin-bottom: 43px;
}

.main_frame .right_frame-menu {
    display: flex;
    flex-direction: column;
}

.main_frame .right_frame-menu img {
    width: 40px;
    height: 40px;
    margin-bottom: 43px;
}
.main_frame .right_frame-menu img:last-child {
    margin-bottom: 0;
}